<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:fragment="ConfigFragment">

<!-- Common Head -->
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width initial-scale=1">
<!-- Boxicon Link -->
<link rel='stylesheet' type="text/css" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
<!-- Home CSS -->
<link rel="stylesheet" type="text/css" href="/assets/css/home.css">
<!-- Navigation CSS -->
<link rel="stylesheet" type="text/css" href="/assets/css/navBar.css">
<!-- Side Bar CSS -->
<link rel="stylesheet" type="text/css" href="/assets/css/sideBar.css">
<!-- Play Bar CSS -->
<link rel="stylesheet" type="text/css" href="/assets/css/playBar.css">
<!-- Side Bar Toggle JS in Navigation -->
<script type="text/javascript" src="/assets/js/navBar.js" defer></script>
<!-- Music Play Control JS -->
<script type="text/javascript" src="/assets/js/musicPlayer.js" defer></script>
</th:block>
</head>
</html>