<!DOCTYPE html>
<html lang="UTF-8" xmlns:th="http://www.thymeleaf.org"
      th:fragment="ConfigFragment">
<head>
    <!-- Common Head -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width initial-scale=1">

    <!-- Home CSS -->
    <link rel="stylesheet" href="/css/home.css">
    <!-- Navigation CSS -->
    <link rel="stylesheet" href="/css/navBar.css">
    <!-- Side Bar CSS -->
    <link rel="stylesheet" href="/css/sideBar.css">
    <!-- Side Bar Toggle JS in Navigation -->
    <script src="/static/js/navBar.js"></script>

</head>
<body>

</body>
</html>