<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="NavFragment">
<!--Navigation Bar-->
<nav class="flex-div">

    <!-- Empty Space to set position -->
    <div class="nav-left flex-div"></div>

    <!-- Search Box -->
    <div class="nav-middle flex-div">
        <div class="search-box flex-div">
            <label>
                <input type="text" placeholder="검색">
            </label>
            <img src="/assets/images/searchIcon.png" alt="" class="search-icon">
        </div>
    </div>

    <!-- Profile -->
    <div class="nav-right flex-div">
        <img src="/assets/images/profilePicture.png" alt="" class="profile-picture">
    </div>
</nav>
</th:block>
</html>