<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<th:block th:fragment="PlayBarFragment">
<!-- Music Player -->
<div class="music-player" >

    <!-- Song Info -->
    <audio id="song">
        <source src="https://github.com/bradtraversy/vanillawebprojects/blob/master/music-player/music/summer.mp3?raw=true" type="audio/mpeg">
    </audio>

    <!-- Progress bar for current song -->
    <div class="progress-container">
        <label class="progress-label">
            <input type="range" value="0" min="0" max="100" id="progress">
        </label>
    </div>
    <!-- Music Controller -->
    <div class="controls">
        <div>
            <i class='bx bx-skip-previous' ></i>
        </div>
        <div onclick="playPause()">
            <i class='bx bx-play' id="play" ></i>
        </div>
        <div>
            <i class='bx bx-skip-next' ></i>
        </div>
    </div>

    <!-- other settings -->
    <div class="other-features">
        <i class='bx bx-volume-full' ></i>
        <i class='bx bx-repeat'></i>
        <i class='bx bx-shuffle' ></i>
    </div>

    <!-- Volume Panel -->
    <div class="volume-panel">
        <div class="input-div">
            <div class="volume-input-div">
                <label class="volume-label">
                    <div class="volume-progress"></div>
                </label>
            </div>
        </div>
    </div>
</div>
</th:block>
</html>