<!DOCTYPE html>
<html lang="UTF-8" xmlns:th="www.thymeleaf.org"
      th:fragment="SideBarFragment">
<head>

</head>
<body>
<!-- Side Bar-->
<div class="sideBar">
  <!-- ShortCut Menu Icons -->
  <div class="shortcut-links">
    <a href=""><img src="/assets/images/homeIcon.png" alt="" ><p>Home</p></a>
    <a href=""><img src="/assets/images/chartIcon.png" alt=""><p>Charts</p></a>
    <a href=""><img src="/assets/images/storageIcon.png" alt=""><p>Storage</p></a>
    <hr class="separator">
  </div>

  <!--My Playlist-->
  <div class="storage-list">
    <h3>My Playlist</h3>
    <a href="">  <img src="/assets/images/khalidTalk.png" alt=""><p>Playlist 1</p></a>
    <a href="">  <img src="/assets/images/jcoleMiddleChild.png" alt=""><p>Playlist 2</p></a>
    <a href="">  <img src="/assets/images/eminemEncore.png" alt=""> <p>Playlist 3</p></a>
    <a href="">  <img src="/assets/images/paramoreRiot.png" alt=""><p>Playlist 4</p></a>
  </div>
</div>
</body>
</html>