<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<th:block th:fragment="SideBarFragment">
<!-- Side Bar-->
<div class="sidebar">

  <!-- Logo -->
  <div class="logo_details">
    <div class="logo_name">CsC</div>
    <i class="bx bx-menu" id="btn"></i>
  </div>

  <!-- SideBar Contents -->
  <ul class="nav-list">

    <!-- Home -->
    <li>
      <a href="#">
        <i class='bx bxs-home'></i>
        <span class="link_name">Home</span>
      </a>
      <span class="tooltip">Home</span>
    </li>

    <!-- Charts -->
    <li>
      <a href="#">
        <i class='bx bx-bar-chart-square'></i>
        <span class="link_name">Charts</span>
      </a>
      <span class="tooltip">Chats</span>
    </li>

    <!-- Play List -->
    <li>
      <a href="#">
        <i class='bx bxs-playlist'></i>
        <span class="link_name">Play List</span>
      </a>
      <span class="tooltip">Play List</span>
    </li>
  </ul>
</div>
</th:block>
</html>