/* Sidebar */
.sideBar {
    background: #fff;
    width: 150px;
    height: calc(100vh - 60px);
    position: fixed;
    top: 0;
    padding-right: 10px;
    padding-top: 80px;
}

.sideBar a{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    width: fit-content;
    flex-wrap: wrap;
}

.sideBar .shortcut-links .storage{
    width: 30px;
    margin-left: 25px;
    margin-bottom: 0;
}

.sideBar .shortcut-links a img{
    width: 30px;
    margin-right: 20px;
}

.sideBar .shortcut-links a {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: fit-content;
    flex-wrap: wrap;
}

.sideBar .shortcut-links a:first-child{
    color:#ed3833;
}

/* Storage */
.storage-list h3 {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #5a5a5a;
    align-items: center;
    justify-content: center;
}


.storage-list a {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: fit-content;
    flex-wrap: wrap;
}

.storage-list a img{
    width: 30px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 10px;
    justify-content: center;
}