<!doctype html>
<html lang="en" xmlns:height="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/playBar.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="/static/javascript/index.js" defer></script>
</head>
<body>

<!--Top of the webpage-->
<nav class="flex-div">

    <div class="nav-left flex-div">
        <img src="/../resources/assets/menuIcon.png" alt="" class="menu-icon">
        <img src="/../resources/assets/logo.png" alt="" class="logo">
    </div>

    <div class="nav-middle flex-div">
        <div class="search-box flex-div">
            <label>
                <input type="text" placeholder="검색">
            </label>
            <img src="/../resources/assets/searchIcon.png" alt="" class="search-icon">
        </div>
    </div>

    <div class="nav-right flex-div">
        <img src="/../resources/assets/profilePicture.png" alt="" class="profile-picture">
    </div>
</nav>



<!-- Side Bar-->

<div class="sideBar">
    <div class="shortcut-links">
        <a href=""><img src="/../resources/assets/homeIcon.png" alt="" ><p>Home</p></a>
        <a href=""><img src="/../resources/assets/chartIcon.png" alt=""><p>Charts</p></a>
        <a href=""><img src="/../resources/assets/storageIcon.png" alt="" class="storage"><p>Storage</p></a>
        <hr>
    </div>

    <!--My Playlist-->
    <div class="storage-list">
        <h3>My playlist</h3>
        <a href=""> <p>Playlist 1</p> <img src="/../resources/assets/khalidTalk.png" alt=""></a>
        <a href=""> <p>Playlist 2</p> <img src="/../resources/assets/jcoleMiddleChild.png" alt=""></a>
        <a href=""> <p>Playlist 3</p> <img src="/../resources/assets/eminemEncore.png" alt=""></a>
        <a href=""> <p>Playlist 4</p> <img src="/../resources/assets/paramoreRiot.png" alt=""></a>

    </div>
</div>


<!--Play bar Section-->
<section class="playBar fixed-bottom ">
    <div class="row">

        <!--Play bar Icon-->
        <div class="col-6">
            <div class="btn-group top-0 start-50 translate-middle-x">
                <a href="#" class="btn btn-inverse"><i class="icon-white icon-fast-backward"></i></a>
                <a href="#" class="btn btn-inverse"><i class="icon-white icon-play"></i></a>
                <a href="#" class="btn btn-inverse"><i class="icon-white icon-pause"></i></a>
                <a href="#" class="btn btn-inverse"><i class="icon-white icon-fast-forward"></i></a>
            </div>
        </div>

        <!--Play bar Track Information-->
        <div class="col-6">
            <div class="btn-group top-0 start-50 translate-middle-x">
                <a href="#" class="btn btn-inverse"><i> 현재 재생중 인 트랙</i></a>
                <a href="#" class="btn btn-inverse"><i> 가수 이름</i></a>
                <a href="#" class="btn btn-inverse"><i> 채널 이름</i></a>
            </div>
        </div>
    </div>
</section>


<!--Main Contents-->

<div class="container">
    <header>
        <p>최근에 들은 트랙</p>
    </header>
    <div class="list-container">

        <div class="track-list">
            <a href=""><img src="/../resources/assets/khalidTalk.png" alt="" class="thumbnail1"></a>
            <div class="flex-div">
                <div class="track-info">
                    <a href="">Khalid - Talk</a>
                    <p>Song by Khalid</p>
                    <p>Recommended</p>
                </div>
            </div>
        </div>


        <div class="track-list">
            <a href=""><img src="/../resources/assets/jcoleMiddleChild.png" alt="" class="thumbnail2"></a>
            <div class="flex-div">
                <div class="track-info">
                    <a href="">Khalid - Talk</a>
                    <p>Song by Khalid</p>
                    <p>Recommended</p>
                </div>
            </div>
        </div>

        <div class="track-list">
            <a href=""><img src="/../resources/assets/eminemEncore.png" alt="" class="thumbnail3"></a>
            <div class="flex-div">
                <div class="track-info">
                    <a href="">Khalid - Talk</a>
                    <p>Song by Khalid</p>
                    <p>Recommended</p>
                </div>
            </div>
        </div>

        <div class="track-list">
            <a href=""><img src="/../resources/assets/paramoreRiot.png" alt="" class="thumbnail4"></a>
            <div class="flex-div">
                <div class="track-info">
                    <a href="">Khalid - Talk</a>
                    <p>Song by Khalid</p>
                    <p>Recommended</p>
                </div>
            </div>
        </div>


    </div>


    <section class="coverSongChart">
        <div class="album py-5 bg-light">
            <header class="recentTrack">
                <h2> 커버 송 차트</h2>
                <hr class="break-line">
            </header>
            <div class="container-fluid">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

                    <!--Content 1-->
                    <div class="col">
                        <div class="card shadow-sm ms-3">
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg">
                                <defs>
                                    <filter id="image4">
                                        <feImage href="https://upload.wikimedia.org/wikipedia/en/1/1f/Punk_goes_pop_4.jpg"/>
                                    </filter>
                                </defs>
                                <rect x="10%" y="10%" width="80%" height="80%" style="filter:url(#image4);" />
                            </svg>

                            <div class="card-body">
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                    </div>
                                    <small class="text-muted">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Content 2-->
                    <div class="col">
                        <div class="card shadow-sm">
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg">
                                <defs>
                                    <filter id="image5">
                                        <feImage href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQGb39blY1Ivh1sRmvbRIartN0aDsUCmf64IQ&usqp=CAU"/>
                                    </filter>
                                </defs>
                                <rect x="10%" y="10%" width="80%" height="80%" style="filter:url(#image5);" />
                            </svg>

                            <div class="card-body">
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                    </div>
                                    <small class="text-muted">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Content 3-->
                    <div class="col">
                        <div class="card shadow-sm">
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg">
                                <defs>
                                    <filter id="image6">
                                        <feImage href="https://i.namu.wiki/i/Xp_jSZEFqkeWU4EOMWq4cKcyNATGfXcTi3mx-uoObJixTOMxBhf-Euf_ZUfIJe6ii1TAEdDfbvL5Z-XX_P-V8A.webp"/>
                                    </filter>
                                </defs>
                                <rect x="10%" y="10%" width="80%" height="80%" style="filter:url(#image6);" />
                            </svg>
                            <div class="card-body">
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                    </div>
                                    <small class="text-muted">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>