<!DOCTYPE html>
<html lang="en">
<head>
    <title>cloneYouTube</title>
</head>
<body>
<!--Main-->

<!--Recent Track-->
<div class="container">
    <header>
        <p>최근에 들은 트랙</p>
    </header>

    <div class="list-container">

        <div class="track-list">
            <a href=""><img src="/assets/images/khalidTalk.png" alt="" class="thumbnail"></a>
            <div class=flex-div">
                <div class="track-info">
                    <a href="">Khalid - Talk</a>
                    <p>&bull;Song by Khalid</p>
                    <p>&bull;Recommended</p>
                </div>
            </div>
        </div>


        <div class="track-list">
            <a href=""><img src="/assets/images/jcoleMiddleChild.png" alt="" class="thumbnail"></a>
            <div class="flex-div">
                <div class="track-info">
                    <a href="">Khalid - Talk</a>
                    <p>&bull;Song by Khalid</p>
                    <p>&bull;Recommended</p>
                </div>
            </div>
        </div>

        <div class="track-list">
            <a href=""><img src="/assets/images/eminemEncore.png" alt="" class="thumbnail"></a>
            <div class="flex-div">
                <div class="track-info">
                    <a href="">Khalid - Talk</a>
                    <p>&bull;Song by Khalid</p>
                    <p>&bull;Recommended</p>
                </div>
            </div>
        </div>

        <div class="track-list">
            <a href=""><img src="/assets/images/paramoreRiot.png" alt="" class="thumbnail"></a>
            <div class="flex-div">
                <div class="track-info">
                    <a href="">Khalid - Talk</a>
                    <p> &bull;Song by Khalid</p>
                    <p> &bull;Recommended</p>
                </div>
            </div>
        </div>
    </div>
</div>


<!--Popular Charts-->
<div class="container">
    <header>
        <p>인기 차트</p>
    </header>

    <div class="list-container">

        <div class="track-list">
            <a href=""><img src="/assets/images/khalidTalk.png" alt="" class="thumbnail"></a>
            <div class="flex-div">
                <div class="track-info">
                    <a href="">Khalid - Talk</a>
                    <p>&bull;Song by Khalid</p>
                    <p>&bull;Recommended</p>
                </div>
            </div>
        </div>


        <div class="track-list">
            <a href=""><img src="/assets/images/jcoleMiddleChild.png" alt="" class="thumbnail"></a>
            <div class="flex-div">
                <div class="track-info">
                    <a href="">Khalid - Talk</a>
                    <p>&bull;Song by Khalid</p>
                    <p>&bull;Recommended</p>
                </div>
            </div>
        </div>

        <div class="track-list">
            <a href=""><img src="/assets/images/eminemEncore.png" alt="" class="thumbnail"></a>
            <div class="flex-div">
                <div class="track-info">
                    <a href="">Khalid - Talk</a>
                    <p>&bull;Song by Khalid</p>
                    <p>&bull;Recommended</p>
                </div>
            </div>
        </div>

        <div class="track-list">
            <a href=""><img src="/assets/images/paramoreRiot.png" alt="" class="thumbnail"></a>
            <div class="flex-div">
                <div class="track-info">
                    <a href="">Khalid - Talk</a>
                    <p> &bull;Song by Khalid</p>
                    <p> &bull;Recommended</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--My Charts-->
<div class="container">
    <header>
        <p>내가 만든 플레이 리스트</p>
    </header>

    <div class="list-container">
        <div class="card track-list" style="width: 18rem;">
            <a href="playMusic.html"><img src="/assets/images/khalidTalk.png" alt="" class="thumbnail"></a>
            <div class="flex-div">
                <div class="track-info">
                    <a href="playMusic.html">Khalid - Talk</a>
                    <p>&bull;Song by Khalid</p>
                    <p>&bull;Recommended</p>
                </div>
            </div>
        </div>

        <div class="track-list">
            <a href=""><img src="/assets/images/jcoleMiddleChild.png" alt="" class="thumbnail"></a>
            <div class="flex-div">
                <div class="track-info">
                    <a href="">Khalid - Talk</a>
                    <p>&bull;Song by Khalid</p>
                    <p>&bull;Recommended</p>
                </div>
            </div>
        </div>

        <div class="track-list">
            <a href=""><img src="/assets/images/eminemEncore.png" alt="" class="thumbnail"></a>
            <div class="flex-div">
                <div class="track-info">
                    <a href="">Khalid - Talk</a>
                    <p>&bull;Song by Khalid</p>
                    <p>&bull;Recommended</p>
                </div>
            </div>
        </div>

        <div class="track-list">
            <a href=""><img src="/assets/images/paramoreRiot.png" alt="" class="thumbnail"></a>
            <div class="flex-div">
                <div class="track-info">
                    <a href="">Khalid - Talk</a>
                    <p> &bull;Song by Khalid</p>
                    <p> &bull;Recommended</p>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>