<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/default}">
<head>
    <title>Chart Page - Unfixed</title>
</head>
<body>
<th:block layout:fragment="Content">
<!--Main-->

<!--차트 랭킹 화면-->
<section class="chartRankings-section">
    <div class="chartRankings">
        <!-- 차트 헤더-->
        <div class="chartHeader">
            <div class="grid-item">최신</div>
            <div class="grid-item">상위 100</div>
            <div class="grid-item">음악 장르</div>
            <div class="grid-item">내가 듣는 음악</div>
            <div class="grid-item">추후 추가</div>
        </div>

        <!--차트 정보-->
        <div class="chartInfo">
            <div class="chartImage-now">
                <img src="/images/DragonFlight.png" alt="">
            </div>

            <!-- 차트 상세 정보-->
            <div class="chartDetails">
                <div class="grid-item">차트 이름</div>
                <div class="grid-item-child">나머지 정보</div>
                <div class="grid-item-child">나머지 정보</div>
                <div class="grid-item-child">나머지 정보</div>
            </div>
        </div>

        <!--차트 리스트-->
        <div class="chartList-header">
            <div class="grid-item-chartList">썸네일</div>
            <div class="grid-item-chartList">미정</div>
            <div class="grid-item-chartList">순위 번호</div>
            <div class="grid-item-chartList">노래 이름</div>
            <div class="grid-item-chartList">가수 이름</div>
            <div class="grid-item-chartList">트랙 길이</div>
            <div class="grid-item-chartList">추가 버튼</div>

            <!--빈 컨텐츠-->

            <!--Row 2-->
            <div class="grid-item-chartList-empty"></div>
            <div class="grid-item-chartList-empty"></div>
            <div class="grid-item-chartList-empty"></div>
            <div class="grid-item-chartList-empty"></div>
            <div class="grid-item-chartList-empty"></div>
            <div class="grid-item-chartList-empty"></div>
            <div class="grid-item-chartList-empty">버튼 탭시</div>

            <!--Row 3-->
            <div class="grid-item-chartList-empty"></div>
            <div class="grid-item-chartList-empty"></div>
            <div class="grid-item-chartList-empty"></div>
            <div class="grid-item-chartList-empty"></div>
            <div class="grid-item-chartList-empty"></div>
            <div class="grid-item-chartList-empty"></div>
            <div class="grid-item-chartList-empty">내가</div>

            <!--Row 4-->
            <div class="grid-item-chartList-empty"></div>
            <div class="grid-item-chartList-empty"></div>
            <div class="grid-item-chartList-empty"></div>
            <div class="grid-item-chartList-empty"></div>
            <div class="grid-item-chartList-empty"></div>
            <div class="grid-item-chartList-empty"></div>
            <div class="grid-item-chartList-empty">지정할</div>

            <!--Row 5-->
            <div class="grid-item-chartList-empty"></div>
            <div class="grid-item-chartList-empty"></div>
            <div class="grid-item-chartList-empty"></div>
            <div class="grid-item-chartList-empty"></div>
            <div class="grid-item-chartList-empty"></div>
            <div class="grid-item-chartList-empty"></div>
            <div class="grid-item-chartList-empty">플레이</div>

            <!--Row 6-->
            <div class="grid-item-chartList-empty"></div>
            <div class="grid-item-chartList-empty"></div>
            <div class="grid-item-chartList-empty"></div>
            <div class="grid-item-chartList-empty"></div>
            <div class="grid-item-chartList-empty"></div>
            <div class="grid-item-chartList-empty"></div>
            <div class="grid-item-chartList-empty">리스트</div>

            <!--Row 7-->
            <div class="grid-item-chartList-empty"></div>
            <div class="grid-item-chartList-empty"></div>
            <div class="grid-item-chartList-empty"></div>
            <div class="grid-item-chartList-empty"></div>
            <div class="grid-item-chartList-empty"></div>
            <div class="grid-item-chartList-empty"></div>
            <div class="grid-item-chartList-empty">추가</div>
        </div>
    </div>
</section>
</th:block>
</body>
</html>