<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/default}">
<head>
    <title>cloneYouTube</title>
</head>
<body>
<th:block layout:fragment="Content">
<!--Main-->

<!-- 최근에 들은 트랙 -->
<section class="recent-section">
    <div class="container-recent">

        <!-- dummy space for top margin -->
        <div class="color-container-top"></div>

        <!-- Title -->
        <h2 class="recentHeader"> 최근에 들은 트랙</h2>
        <h2 class="recentLine"></h2>

        <!-- List Container -->
        <div class="list-container">
            <!-- List 1 -->
            <div class="track-list-card">
                <a href=""><img src="/images/DragonFlight.png" alt="" class="thumbnail"></a>
                <div class="flex-div">
                    <div class="track-info">
                        <a href="">Khalid - Talk</a>
                        <p>&bull;Song by Khalid</p>
                        <p>&bull;Recommended</p>
                    </div>
                </div>
            </div>

            <!-- List 2 -->
            <div class="track-list-card">
                <a href=""><img src="/images/DragonFlight.png" alt="" class="thumbnail"></a>
                <div class="flex-div">
                    <div class="track-info">
                        <a href="">Khalid - Talk</a>
                        <p>&bull;Song by Khalid</p>
                        <p>&bull;Recommended</p>
                    </div>
                </div>
            </div>

            <!-- List 3 -->
            <div class="track-list-card">
                <a href=""><img src="/images/Holy_Priest.png" alt="" class="thumbnail"></a>
                <div class="flex-div">
                    <div class="track-info">
                        <a href="">Khalid - Talk</a>
                        <p>&bull;Song by Khalid</p>
                        <p>&bull;Recommended</p>
                    </div>
                </div>
            </div>

            <!-- List 4 -->
            <div class="track-list-card">
                <a href=""><img src="/images/HellScrim.png" alt="" class="thumbnail"></a>
                <div class="flex-div">
                    <div class="track-info">
                        <a href="">Khalid - Talk</a>
                        <p> &bull;Song by Khalid</p>
                        <p> &bull;Recommended</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- dummy space for bottom margin -->
    <div class="color-container"></div>

    <!-- 인기 차트 -->
    <div class="container-popular">

        <!-- Title -->
        <h2 class="popularHeader"> 인기 차트</h2>
        <h2 class="popularLine"></h2>

        <!-- List Container -->
        <div class="list-container">
            <!-- List 1 -->
            <div class="track-list-card">
                <a href=""><img src="/images/DragonFlight.png" alt="" class="thumbnail"></a>
                <div class="flex-div">
                    <div class="track-info">
                        <a href="">Khalid - Talk</a>
                        <p>&bull;Song by Khalid</p>
                        <p>&bull;Recommended</p>
                    </div>
                </div>
            </div>

            <!-- List 2 -->
            <div class="track-list-card">
                <a href=""><img src="/images/DragonFlight.png" alt="" class="thumbnail"></a>
                <div class="flex-div">
                    <div class="track-info">
                        <a href="">Khalid - Talk</a>
                        <p>&bull;Song by Khalid</p>
                        <p>&bull;Recommended</p>
                    </div>
                </div>
            </div>

            <!-- List 3 -->
            <div class="track-list-card">
                <a href=""><img src="/images/Holy_Priest.png" alt="" class="thumbnail"></a>
                <div class="flex-div">
                    <div class="track-info">
                        <a href="">Khalid - Talk</a>
                        <p>&bull;Song by Khalid</p>
                        <p>&bull;Recommended</p>
                    </div>
                </div>
            </div>

            <!-- List 4 -->
            <div class="track-list-card">
                <a href=""><img src="/images/HellScrim.png" alt="" class="thumbnail"></a>
                <div class="flex-div">
                    <div class="track-info">
                        <a href="">Khalid - Talk</a>
                        <p> &bull;Song by Khalid</p>
                        <p> &bull;Recommended</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- dummy space for bottom margin -->
    <div class="color-container"></div>

    <!--내가 만든 플레이 리스트-->
    <div class="container-myPlaylist">

        <!-- Title -->
        <h2 class="myPlaylistHeader"> 내가 만든 플레이 리스트</h2>
        <h2 class="playlistLine"></h2>

        <!-- List Container -->
        <div class="list-container">
            <!-- List 1 -->
            <div class="track-list-card">
                <a href=""><img src="/images/DragonFlight.png" alt="" class="thumbnail"></a>
                <div class="flex-div">
                    <div class="track-info">
                        <a href="">Khalid - Talk</a>
                        <p>&bull;Song by Khalid</p>
                        <p>&bull;Recommended</p>
                    </div>
                </div>
            </div>

            <!-- List 2 -->
            <div class="track-list-card">
                <a href=""><img src="/images/DragonFlight.png" alt="" class="thumbnail"></a>
                <div class="flex-div">
                    <div class="track-info">
                        <a href="">Khalid - Talk</a>
                        <p>&bull;Song by Khalid</p>
                        <p>&bull;Recommended</p>
                    </div>
                </div>
            </div>

            <!-- List 3 -->
            <div class="track-list-card">
                <a href=""><img src="/images/Holy_Priest.png" alt="" class="thumbnail"></a>
                <div class="flex-div">
                    <div class="track-info">
                        <a href="">Khalid - Talk</a>
                        <p>&bull;Song by Khalid</p>
                        <p>&bull;Recommended</p>
                    </div>
                </div>
            </div>

            <!-- List 4 -->
            <div class="track-list-card">
                <a href=""><img src="/images/HellScrim.png" alt="" class="thumbnail"></a>
                <div class="flex-div">
                    <div class="track-info">
                        <a href="">Khalid - Talk</a>
                        <p> &bull;Song by Khalid</p>
                        <p> &bull;Recommended</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- dummy space for bottom margin -->
    <div class="color-container"></div>
</section>
</th:block>
</body>
</html>