<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/default}">
<head>
    <title>PlayList Page - Unfixed</title>
</head>
<body>
<th:block layout:fragment="Content">
<!--Main-->

<!--My Playlist-->
<section class="personalPlaylist-section">
    <div class="nowPlaying">

        <!--Album Image and Title-->
        <div class="container-albumImage">
            <div class="albumImage_header">
                <div class="grid-item">노래</div>
                <div class="grid-item">영상</div>
            </div>
            <!--앨범 자켓-->
            <div class="albumImage">
                <img src="/static/assets/images/DragonFlight.png" alt="">
            </div>
        </div>

        <!--플레이 리스트-->
        <div class="personalPlaylist">
            <div class="personalPlaylist_items_header">
                <div class="grid-item">다음 트랙</div>
                <div class="grid-item">가사</div>
                <div class="grid-item">추후 추가</div>
            </div>

            <div class="personalPlaylist_contents">
                <div class="albumImage_content">
                    <img src="/static/assets/images/DragonFlight.png" alt="">
                </div>
                <div class="grid-item">제목</div>
                <div class="grid-item">가수명 / 채널명</div>
                <div class="grid-item">영상 길이</div>
            </div>
            <div class="personalPlaylist_contents">
                <div class="albumImage_content">
                    <img src="/static/assets/images/DragonFlight.png" alt="">
                </div>
                <div class="grid-item">제목</div>
                <div class="grid-item">가수명 / 채널명</div>
                <div class="grid-item">영상 길이</div>
            </div>
            <div class="personalPlaylist_contents">
                <div class="albumImage_content">
                    <img src="/static/assets/images/DragonFlight.png" alt="">
                </div>
                <div class="grid-item">제목</div>
                <div class="grid-item">가수명 / 채널명</div>
                <div class="grid-item">영상 길이</div>
            </div>
            <div class="personalPlaylist_contents">
                <div class="albumImage_content">
                    <img src="/static/assets/images/DragonFlight.png" alt="">
                </div>
                <div class="grid-item">제목</div>
                <div class="grid-item">가수명 / 채널명</div>
                <div class="grid-item">영상 길이</div>
            </div>
            <div class="personalPlaylist_contents">
                <div class="albumImage_content">
                    <img src="/static/assets/images/DragonFlight.png" alt="">
                </div>
                <div class="grid-item">제목</div>
                <div class="grid-item">가수명 / 채널명</div>
                <div class="grid-item">영상 길이</div>
            </div>
            <div class="personalPlaylist_contents">
                <div class="albumImage_content">
                    <img src="/static/assets/images/DragonFlight.png" alt="">
                </div>
                <div class="grid-item">제목</div>
                <div class="grid-item">가수명 / 채널명</div>
                <div class="grid-item">영상 길이</div>
            </div>
            <div class="personalPlaylist_contents">
                <div class="albumImage_content">
                    <img src="/static/assets/images/DragonFlight.png" alt="">
                </div>
                <div class="grid-item">제목</div>
                <div class="grid-item">가수명 / 채널명</div>
                <div class="grid-item">영상 길이</div>
            </div>
            <div class="personalPlaylist_contents">
                <div class="albumImage_content">
                    <img src="/static/assets/images/DragonFlight.png" alt="">
                </div>
                <div class="grid-item">제목</div>
                <div class="grid-item">가수명 / 채널명</div>
                <div class="grid-item">영상 길이</div>
            </div>
            <div class="personalPlaylist_contents">
                <div class="albumImage_content">
                    <img src="/static/assets/images/DragonFlight.png" alt="">
                </div>
                <div class="grid-item">제목</div>
                <div class="grid-item">가수명 / 채널명</div>
                <div class="grid-item">영상 길이</div>
            </div>
        </div>
    </div>
</section>
</th:block>
</body>
</html>