<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- Reference Common CSS / JS Elements -->
<head th:insert="~{common/fragments/config :: ConfigFragment}">

</head>
<body>
<!-- Reference NavFragment -->
<div th:replace="~{common/fragments/navBar :: NavFragment}"></div>

<!-- Reference SideBarFragment -->
<div th:replace="~{common/fragments/sideBar :: SideBarFragment}"></div>

<!-- Reference Content fraction from each page -->
<th:block layout:fragment="Content"></th:block>

<!-- Reference PlayBarFragment -->

</body>
</html>